.popup {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 430px;
  position: fixed;
  left: 50%;
  top: 195px;
  transform: translate(-50%);
  background-color: white;
  border-radius: 10px;
  display: none;
  z-index: 1;
}

@media (max-width: 823px) {
  .popup {
    top: 123px;
    width: 282px;
  }
}
