.profile__title-button {
  height: 24px;
  width: 24px;
  border: 1px solid #FFFFFF;
  align-self: center;
  margin: 0 0 0 18px;
  background-image: url(../../../images/Vector.svg);
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  cursor: url(../../../images/Cursor.png) ,pointer;
}

.profile__title-button:hover {
  opacity: 0.6;
}

@media (max-width: 960px) {
  .profile__title-button {
    height: 18px;
    width: 18px;
    margin-left: 10px;
  }
}
