.popup__clouse-button {
  height: 32px;
  width: 32px;
  border: none;
  position: absolute;
  top: -40px;
  right: -40px;
  background: none;
  background-image: url(../../../images/Close_Icon.svg);
  cursor: url(../../../images/Cursor.svg) ,pointer;
}

.popup__clouse-button:hover {
  opacity: 0.6;
}


@media (max-width: 823px) {
  .popup__clouse-button {
    height: 20px;
    width: 20px;
    top: -40px;
    right: 0px;
    background-position: center;
    background-size: contain;
  }
}
