.form-element__content {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) ;
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  color: #000000;
  margin: 0 0 22px;
}

@media (max-width: 823px) {
  .form-element__content {
    line-height: 32px;
    margin: 0 0 21px;
  }
}
