  .header__logo {
    width: 142px;
    height: 33px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../../../images/Header-logo.svg);
    cursor: url(../../../images/Cursor.png) ,pointer;
  }

  .header__logo:active {
    background-image: url(../../../images/Header_logo_b.svg);
  }

  @media (max-width: 823px) {
    .header__logo{
      width: 103px;
      height: 24px;
      background-image: url(../../../images/Header_logo_litle.png);
    }
  }
