.profile__add-button {
  height: 50px;
  min-width: 150px;
  border: solid 2px #FFFFFF;
  align-self: center;
  margin-left: auto;
  background-color: black;
  background-image: url(../../../images/Plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: url(../../../images/Cursor.svg) ,pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media (max-width: 925px) {
  .profile__add-button {
    width: 100%;
    margin: 34px auto 0;
    background-size: 15px 15px;
  }
}

@media (max-width: 794px) {
  .profile__add-button {
    min-width: 282px;
    max-width: 350px;
  }
}
