.profile__add-button {
  height: 50px;
  width: 150px;
  border: solid 2px #FFFFFF;
  align-self: center;
  margin-left: auto;
  background-color: black;
  background-image: url(../../../images/Plus.svg);
  background-repeat: no-repeat;
  background-position: center;
}
