.profile__profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 0 30px;
}

@media (max-width: 960px) {
  .profile__profile-info {
    width: 100%;
    margin: 38.25px auto 0;
    text-align: center;
  }
}
