.profile__caption {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 925px) {
  .profile__caption {
    margin-top: 8px;
    font-size: 14px;
    line-height: 17px;
  }
}
