.popup__save-button {
  height: 50px;
  width: 358px;
  border: none;
  border-radius: 2px;
  background-color: black;
  margin: 27px 0 0;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  color: white;
  cursor: url(../../../images/Cursor.svg) ,pointer;
}

.popup__save-button:hover {
  opacity: 0.8;
}

@media (max-width: 823px) {
  .popup__save-button {
    height: 46px;
    width: 238px;
    margin: 26px 0 0;
    font-size: 14px;
    line-height: 46px;
  }
}
